<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I'm currently studying computer software engineering at Amirkabir
        University of Technology, I've done some research about IoT Middleware platforms,
        and we're going to create an extensively scalable middleware solution for enterprise.
    Currently I'm creating an application for managing welding robots at Iran Khodro.</p>
</div><!--//summary-->
</section><!--//section-->
