<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2016 June - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Farzan Fan Andish Farda, Tehran</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>In here I'm responsible for creating a highly
                            efficient and fast webserver that manages welding
                        robots at Iran Khodro Company</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">January 2016 - December 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Amirkabir University of Technology, Tehran</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I was resposible for creating an IoT middleware
                            which was responsible for logging sensor datas,
                            and providing RESTful webservices for working with
                        actuators, and reading sensor data</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Researcher and Developer</h3>
                            <div class="time">December 2016 - now</div>
                        </div><!--//upper-row-->
                        <div class="company">R &amp; D of Amirkabir University of Technology, Fandogh, Tehran</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>In here we're trying to improve IT infrastructures of Amirkabir University of Technology and providing better solutions for currently existing systems.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship</h3>
                            <div class="time">Summer 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">DATAX, Tehran</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>In here I was responsible for creating an android
                        application for Tehran stock center</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
