<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Farzan Fan Andish Farda, Tehran</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>In here I'm responsible for creating a highly
                            efficient and fast webserver that manages welding
                        robots at Iran Khodro Company</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Network Engineer</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">AUT, Tehran</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I was resposible for creating an IoT middleware
                            which was responsible for logging sensor datas,
                            and providing RESTful webservices for working with
                        actuators, and reading sensor data</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full Stack Developer</h3>
                            <div class="time">2016 - now</div>
                        </div><!--//upper-row-->
                        <div class="company">Fandogh, Tehran</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>In here we've created systems that manage all
                            of the students affair from sports enrollment, to
                            food reservation and etc</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship</h3>
                            <div class="time">Summer 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">DATAX, Tehran</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>In here I was responsible for creating an android
                        application for Tehran stock center</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
