<section class="section projects-section">
    <h2 class="section-title">
        <i class="fa fa-archive"></i>Projects
    </h2>
    <div class="intro">
        <p>
            Contains my contributions to open source projects and my own open source
            projects
        </p>
    </div>

    <div class="item">
        <span class="project-title">
            <a href="https://github.com/tabrizian/ceit93bot" target="_blank">
                CEIT93bot
            </a>
        </span> -
        <span class="project-tagline">
            A telegram bot designed to help channel adminstrators contact
            with their memebers without exposing their personal username.
        </span>
    </div>

    <div class="item">
        <span class="project-title">
            <a href="https://github.com/docker-php/docker-php" target="_blank">
                docker-php
            </a>
        </span> -
        <span class="project-tagline">
            A docker client for php, I contributed
            some code here and updated some dependencies.
        </span>
    </div>

    <div class="item">
        <span class="project-title">
            <a href="https://github.com/iware-iot/TaaS" target="_blank">
                TaaS
            </a>
        </span> -
        <span class="project-tagline">
            I created a "Things as a Service" platform that is supposed to
            provide access to things at your home using containerized
            microservices currently only the main middleware is the only
            microservice here but we are trying to improve the architecture
            by breaking down more parts of middleware and make it much more
            scalable and make it easier to deploy and develop.
        </span>
    </div>

    <div class="item">
        <span class="project-title">
            <a href="https://github.com/tabrizian/goldoon" target="_blank">
                Goldoon (Vase)
            </a>
        </span> -
        <span class="project-tagline">
            In here I created a Vases humidity management system using Node.js
            and nodemcu. In here I tried to standardize my project so that
            it's going to be deployed easily. To achieve this goal I used
            the awesome standard IoT plaftrom called <i>platformio</i>.
            By using this platform there is a unified build system for
            all of different devices such as esprif8266, arduino and etc.
        </span>
    </div>

</section>
