<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">NodeJS &amp; PHP</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
        </div>

        <div class="item">
            <h3 class="level-title">Javascript &amp; Vue</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
        </div>

        <div class="item">
            <h3 class="level-title">Java &amp; C</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
        </div>

        <div class="item">
            <h3 class="level-title">IoT</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div>
        </div>

        <div class="item">
            <h3 class="level-title">Docker</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div>
        </div>

        <div class="item">
            <h3 class="level-title">Linux</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div>
        </div>

        <div class="item">
            <h3 class="level-title">Design of IoT Middlewares</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
        </div>

        <div class="item">
            <h3 class="level-title">Microservices</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="50%">
                </div>
            </div>
        </div>



    </div>
</section>
<!--//skills-section-->
