<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101201565-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-101201565-2');
    </script>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/assets/css/starter-template.css" rel="stylesheet">
  </head>
  <body>
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav px-5 mr-auto mb-3 mb-md-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/publications">Publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/work-experience">Work Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/teaching">Teaching</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Posts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container">

  <div class="starter-template text-left px-5 py-5">
      <div class="row">
          <div class="col-9">
              {{ content }}
          </div>
          <div class="col-3">
              <div class="card">
              <img class="card-img-top" src="https://github.com/tabrizian.png" alt="Profile Picutre">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><i class="fab fa-github"></i> <a href="https://github.com/Tabrizian">Tabrizian</a></li>
                      <li class="list-group-item"><i class="fas fa-envelope"></i> iman[dot]tabrizian[at] gmail.com</li>
                      <li class="list-group-item"><i class="fab fa-twitter"></i> <a href="https://twitter.com/ITabrizian">ITabrizian</a></li>
                      <li class="list-group-item"><i class="fab fa-stack-overflow"></i> <a href="https://stackoverflow.com/users/4453461/iman"> iman</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

</main><!-- /.container -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/625c1c325b.js" crossorigin="anonymous"></script>


      
  </body>
</html>

